extends ../layouts/main-layout.pug

include ../mixins/createSuggestion.pug

block content

    br

    .container
            p(class="h2 text-center") Tüm Arge Önerileri
            br
            .col-md-9             
            .row
                    if suggestions.length > 0
                        each suggestion in suggestions
                            +createSuggestion(suggestion)
                    else
                        h1 No Suggestion